body {
    font-family: "Nunito", sans-serif;
}

@font-face {
    font-family: 'cosy_sansno_shade';
    src: url('copy_of_cosysans-no_shade-1-webfont.woff2') format('woff2'),
         url('copy_of_cosysans-no_shade-1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
    font-family: 'cosy_sansno_shade';
    color: #5EBEFF;
}

h3{
    font-family: 'cosy_sansno_shade';
    color: #5DA466;
}

h2 {
    color: #5EBEFF;
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-color: #FF8DDF;
    color: black;
    padding: 10px 0;
}

.navbar {
    background-image: url('../img/pink-nav.png') !important;
    margin: 0;
    padding: 10px;
}

.hero-image {
    background-image: url('../img/worm-hero-new.gif') !important;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#projectsTitle {
    margin: 10;
    padding: 30px;
}

#aboutTitle {
    margin: 10;
    padding: 30px;
}

#contactTitle {
    margin: 10;
    padding: 30px;
}